.input {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 0;
    background-color: #fff;
    font-size: 1.2rem;
    color: #000;
    outline: none;
    margin-top: 0.5rem;
    &::placeholder {
        color: #000;
    }
}

.message-input {
    margin-bottom: 1rem;
}

.w-100 {
    width: 100%!important;
}

textarea {
    resize: none;
    width: 100%;
}

.submit-btn {
    width: min-content;
    height: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 0;
    background-color: #fff;
    font-size: 1.2rem;
    color: #000;
    outline: none;
    margin-top: 0.5rem;
    &::placeholder {
        color: #000;
    }
}

